#root {
  width: 100vw;
  min-height: 100vh;
}

.breadcrumb-item img {
  max-height: 2em;
}

.breadcrumb-item {
  line-height: 2em;
}
section#breadcrumb {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4rem;
}
h1 small {
  font-weight: 100;
  font-size: 0.5em;
}

p.subtitle {
  color: #ABABAB;
  margin-top: -.5rem;
  font-size: .9rem;
  margin-bottom: 2rem;
}
.tableContainer {
  font-size: .8rem;
  width: 100%;
  overflow-x: auto;
  display: block;
}