
.breadcrumb-item img {
    max-height: 2em;
  }
  
  .breadcrumb-item {
    line-height: 2em;
  }
  section#breadcrumb {
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4rem;
    background: white;
    z-index: 1;
  }

section#breadcrumb .breadcrumb-item a {
    color: #666;
    text-decoration: none;
}
section#breadcrumb .breadcrumb-item a:hover {
    color: #BFCA4D;
    text-decoration: underline;
}