#tablaURs th{
    cursor: pointer;
}
#tablaURs th span.material-symbols-outlined{
    color: gray;
    vertical-align: bottom;
    margin-left: .25em;
}
#tablaURs td span.material-symbols-outlined{
    vertical-align: bottom;
    margin-left: .25em;
}
#tablaURs tfoot{
    font-weight: bold;
    border-top: solid;

}

#tablaURs tfoot .totalFiltro td{
    background: #f2f2f2;
}

#tablaURs td.text-end.font-monospace{
    font-size: .8rem;
}